<div class="container">
    <div class="jumbotron">
        <h1>Welcome to Eat-Da-Burger!</h1>

        <h4>Enter a name for your burger below and prepare it for devouring.</h4>

        <div class="row">
            <div class="col-lg-4 col-md-6 p-3">
                <img class='img-fluid' src="/assets/img/homer_burger.jpg">
            </div>
            <div class="col-md-6 p-3">
                <textarea id="newBurger"  class="w-100" rows="4"> </textarea>
                <br>
                <br>
                <button type="button" id="createBurger" class="btn btn-lg btn-success">
                    <h4>Submit to DEVOUR</h4>
                </button>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-12 col-md burgerdiv m-3">
            <h2>Click a burger to DEVOUR</h2>

            <ol>
                {{#each burgers}}
                {{#unless devoured}}
                <li class="burger" data-id={{id}}>
                    {{burger_name}}
                </li>
                {{/unless}}
                {{/each}}
            </ol>
        </div>
        <div class="col-12 col-md burgerdiv m-3">
            <h2>Burgers you DEVOURED</h2>

            <ol>
                {{#each burgers}}
                {{#if devoured}}
                <li class="devoured" data-id={{id}}>
                    {{burger_name}}
                </li>
                {{/if}}
                {{/each}}
            </ol>
        </div>
    </div>
</div>