
body{
background: repeating-linear-gradient(
  to bottom,
  #FF780F,
  #FF780F 100px,
  #ff9a4d 100px,
  #ff9a4d 200px
);
box-sizing: border-box;
}

img{
    max-height: 400px;
}

.burger:hover {
    cursor: pointer;
  }

  .burgerdiv{
    background-color: #e9ecef9d;
  }
